* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

body {
  background: #fff ;
  color: #000;
}

.logo {
  width: 25%;
}

 nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
overflow: hidden;
background-color: lightskyblue;
text-align: right;
}


nav li {
 display: inline-block;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, li.active {
  background-color: rgb(53, 171, 245);
}



img {
width: 35%;
height: auto;
}



