* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-style: normal;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
}

h1 .name {
  color: #5a92af;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
}

h2 {
  margin-top: 75px;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.logo {
  width: 25%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  text-align: right;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
li.active {
  background-color: #5a92af;
  color: #fff;
}

li {
  font-weight: 500;
  font-size: 17px;
  padding: 0 15px 15px 0;
}

img {
  width: 40%;
  height: auto;
  position: fixed;
}

.waving-hand {
  font-size: 70px;
  border: 0 !important;
  display: inline-block;
  transition: transform 0.5s;
  animation: wave 2s infinite;
}

@keyframes wave {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-50deg);
  }
  60% {
    transform: rotate(40deg);
  }
}

img .about{
  width: 40%;
  height: auto;
}
